.leftaside{
    height: 90vh;
    width: 25vw;
    cursor: pointer;
    align-self: flex-start;

}
.profile{
    height: 30vh;
    background-color: rgb(255, 255, 255);
}
.right{
    margin-top: .3rem;
    margin-left: .5rem;
}
.name{
    font-size: 2vh;
}
.email{
    font-size: 1.3vh;
}
.dashIcon{
    width: 2vh;
    height: 2vh;
}
.dash{
    border: 1px solid rgb(210, 206, 206);
    height: 6vh;
}
.logout{
    background-color: rgb(211, 242, 253);
    width: 6.8em;
}
.log{
    background-color: transparent;
    border: none;
    
}
.select{
    border: 1px solid rgb(210, 206, 206);
    height:6vh;
    background-color: rgb(97, 209, 253);
}