p.text{
    font-size: 19px;
}
.underline{
    width: 14rem; /* Adjust the width of the div */
    margin: 0 auto; /* Center the div */
    text-align: center; /* Center the text horizontally */
    background-color: #000;
    height: .09px;
}
.text1{
    font-size: 10px;
}
.text-custom{
    color: red;
}
